#main
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

#top
{
    position: sticky;
    top: 0%;
    width: 100%;
    height: 12%;
    border-bottom: 0.1cap solid gray;
    align-content: center;
}

#left
{
    position: absolute;
    width: 20%;
    height: calc(188% - 0.1cap);
}

#mid
{
    width: calc(80% - 0.1cap);
    height: calc(88% - 0.1cap);
    border-left: 0.1cap solid gray;
    margin-left: 20%;
}

.choose
{
    display: inline-block;
    width: 12%;
    height: 40%;
    margin-top: 0%;
    border-left: 0.2cap solid gray;
    border-right: 0.2cap solid gray;
    border-bottom-left-radius: 0.5cap;
    border-bottom-right-radius: 0.5cap;
}

.choosen
{
    background: radial-gradient(white, lightgray);
}

.sticky
{
    position: sticky;
    top: 0%;
}

.input
{
    width: 40%;
    height: 5%;
    margin-bottom: 3cap;
    font-size: large;
}

.button
{
    width: 40%;
    height: 5cap;
    margin-bottom: 0.4%;
    padding-left: 1%;
    text-align: center;
    border: thick solid #ffffff;
    border-radius: 10cap;
    font-size: large;
    color: #ffffff;

    transition: transform 0.8s;
}

.button:hover
{
    transform: scale(1.2);
}